<app-header-coord></app-header-coord>
<div class="container">
    <div class="display-6 text-center mt-5">
        Salas cadastradas
    </div>
    <div class="row pt-3">
        <div class="col-md-3 mt-5 d-flex">
            <input class="form-control search" type="text" name="search" placeholder="Pesquisar... "
                [(ngModel)]="filter">
        </div>
    </div>
    <table *ngIf="classrooms.length !== 0; else empty"f class="table mt-5">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Número</th>
                <th scope="col">Tipo</th>
                <th scope="col">Capacidade</th>
                <th scope="col">Opções</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let classroom of classrooms | filter : filter">
                <th scope="row">{{classroom.id}}</th>
                <td>{{classroom.number}}</td>
                <td>{{classroom.type | titlecase}}</td>
                <td>{{classroom.capacity}} pessoas</td>
                <td>
                    <ion-icon class="optionIcons me-1" name="create-outline" (click)="edit(classroom)"></ion-icon>
                    <ion-icon class="optionIcons" name="trash-outline" (click)="delete(classroom)"></ion-icon>
                </td>
            </tr>
        </tbody>
    </table>
    <ng-template #empty>
        <p class="txt-inter fs-3 text-center mt-5">Nenhuma sala cadastrada.</p>
    </ng-template>
    <button class="btn btn-fatec float-end mt-1" (click)="create()">Nova Sala de aula</button>
</div>