<app-header-coord></app-header-coord>

<div class="container">
    <div class="display-6 text-center mt-5">
        Segunda feira
        <button [routerLink]="['/coordenador']" class="btn btn-fatec ms-5">Voltar</button>
    </div>
    <form *ngFor="let time of times; let i = index" [formGroup]="formGroups[i]">
        <div class="row mt-5">
            <div class="col-md-4">
                <input type="text" class="form-control mt-5" disabled value="{{time.time}}">
                <input style="display: none;" type="text" formControlName="time" class="form-control mt-2" value="{{time.id}}">
                <select formControlName="classroom" class="form-select mt-2">
                    <option *ngFor="let classroom of classrooms" value="{{classroom.id}}">
                        {{ classroom.type | titlecase }} - {{classroom.number}}
                    </option>
                    <option value="0" *ngIf="classrooms.length === 0" disabled>Nenhuma sala cadastrada.</option>
                </select>
                <div *ngIf="submitted && classroom.invalid">
                    <small class="text-danger">Sala inválida!</small>
                </div>

                <select formControlName="discipline" class="form-select mt-2">
                    <option *ngFor="let discipline of disciplines" value="{{discipline.id}}">
                        {{ discipline.name | titlecase }}
                    </option>
                    <option value="0" *ngIf="disciplines.length === 0" disabled>Nenhuma disciplina cadastrada.</option>
                </select>
                <div *ngIf="submitted && discipline.invalid">
                    <small class="text-danger">Disciplina inválida!</small>
                </div>

                <select formControlName="professor" class="form-select mt-2">
                    <option *ngFor="let professor of professors" value="{{professor.id}}">
                        {{ professor.name | titlecase }}
                    </option>
                    <option value="0" *ngIf="professors.length === 0" disabled>Nenhum professor cadastrado.</option>
                </select>

                <div *ngIf="submitted && professor.invalid">
                    <small class="text-danger">Professor inválido!</small>
                </div>
            </div>

        </div>

        <div class="mb-3 d-flex justify-content-end gap-2 mt-3">
          <button *ngIf="isEditing == false" class="btn btn-success" (click)="save()">Salvar</button>
          <button *ngIf="isEditing == true" class="btn btn-success" (click)="save()">Atualizar</button>
          <button class="btn btn-danger" (click)="cancel()">Cancelar</button>
        </div>
    </form>
</div>
