<app-header-coord></app-header-coord>

<div class="container">
  <div class="row mt-5">
    <div class="col-8 m-auto">
      <form [formGroup]="formGroupTeam">
        <div class="mb-3">
          <div class="display-6 text-center">
            Cadastro de Turmas
          </div>
        </div>
        <div class="mb-3">
          <label for="course" class="form-label">Curso:</label>
          <select class="form-select" formControlName="course">
            <option *ngFor="let course of courses" value="{{course.id}}">{{course.name | titlecase}}</option>
            <option *ngIf="courses.length === 0" value="0" selected disabled>Nenhum curso cadastrado.</option>
          </select>
          <div *ngIf="submitted && course.invalid">
            <small class="text-danger">Curso inválido!</small>
          </div>
        </div>
        <div class="mb-3">
          <label for="students" class="form-label">Quantia de alunos:</label>
          <input type="number" formControlName="students" class="form-control" id="students" placeholder="Quantidade">
          <div *ngIf="submitted && students.invalid">
            <small class="text-danger">Quantia inválida!</small>
          </div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Semestre:</label>
          <input type="number" formControlName="semester" class="form-control" id="semester" placeholder="Semestre">
          <div *ngIf="submitted && semester.invalid">
            <small class="text-danger">Semestre inválido!</small>
          </div>
        </div>
        <div class="mb-3">
          <label for="period" class="form-label">Período:</label>
          <input type="text" pattern="[A-Za-z]+" formControlName="period" class="form-control" id="period" placeholder="Período">
          <div *ngIf="submitted && period.invalid">
            <small class="text-danger">Período inválido!</small>
          </div>
        </div>

        <div class="list-group mb-3">

          <label class="form-label mb-3">Horários desta turma: </label>
          <div *ngIf="times.length !== 0; else empty">
            <label *ngFor="let time of times" class="list-group-item">
              <input type="checkbox" [checked]="timeArray.value.includes(time.id)" (change)="toggleTime(time.id)">
              {{time.time}}
            </label>
            <div *ngIf="submitted && time.invalid">
              <small class="text-danger">Horários inválidos!</small>
            </div>
          </div>
        </div>

        <ng-template #empty>
          <p class="txt-inter fs-4 text-center">Nenhum horário cadastrado.</p>
        </ng-template>

        <div class="mb-3 d-flex justify-content-end gap-2">
          <button *ngIf="isEditing == false" class="btn btn-success" (click)="save()">Salvar</button>
          <button *ngIf="isEditing == true" class="btn btn-success" (click)="save()">Atualizar</button>
          <button class="btn btn-danger" (click)="cancel()">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>

