<div class="container-fluid pt-5 m-auto text-center">
    <div class="row justify-content-center">
        <div class="mt-5 mb-5" style="font-size: 40px;">
            Sistema de visualização e agendamentos de horários<strong><span class="txt-fatec"> Fatec</span></strong>
        </div>
        <div class="col-xl-3">
            <img style="width: 30rem;" src="assets/fatecbanner.png">
        </div>
        <div class="col-xl-5 txt-inter fs-3">
            <p>Escolha como deseja se conectar</p>
            <button class="btn btn-lg btn-fatec mb-2 mt-4">Professor</button><br>
            <button class="btn btn-lg btn-fatec mb-2">Coordenador</button><br>
            <button class="btn btn-lg btn-fatec">Aluno</button>
        </div>
    </div>
</div>