<div class="container-fluid pt-5 pb-5 m-auto text-center">
    <div class="row justify-content-center">
        <div class="mt-5 mb-5" style="font-size: 40px;">
            Sistema de visualização e agendamentos de horários<strong><span class="txt-fatec"> Fatec</span></strong>
        </div>
        <div class="col-xxl-4 mt-5">
            <img style="width: 30rem;" src="assets/fatecbanner.png">
        </div>
        <div class="col-xxl-5 txt-inter fs-3 mt-5">
            <p>Escolha como deseja se conectar</p>
            <button class="btn btn-lg btn-fatec mb-2 mt-4" [routerLink]="['professor']" style="width: 10rem;">Professor</button><br>
            <button class="btn btn-lg btn-fatec mb-2" [routerLink]="['coordenador']" style="width: 10rem;">Coordenador</button><br>
            <button class="btn btn-lg btn-fatec" [routerLink]="['aluno']" style="width: 10rem;">Aluno</button>
        </div>
    </div>
</div>