<app-header-coord></app-header-coord>
<div class="container">
    <div class="display-6 text-center mt-5">
        Turmas cadastradas
    </div>
    <table class="table mt-5">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Curso</th>
                <th scope="col">Alunos</th>
                <th scope="col">Semestre</th>
                <th scope="col">Período</th>
                <th scope="col">Opções</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let team of teams">
                <th scope="row">{{team.id}}</th>
                <td>{{getCourseName(team.id) | titlecase}}</td>
                <td>{{team.students}}</td>
                <td>{{team.semester}}º semestre</td>
                <td>{{team.period | titlecase }}</td>
                <td>
                    <ion-icon class="optionIcons me-1" name="create-outline" (click)="edit(team)"></ion-icon>
                    <ion-icon class="optionIcons" name="trash-outline" (click)="delete(team)"></ion-icon>
                </td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-fatec float-end mt-1" (click)="create()">Nova turma</button>
</div>
