<div class="container mt-4">
  <nav class="navbar navbar-expand-lg bg-white pe-3" style="height: 5rem;">
    <a class="navbar-brand txt-fatec txt-inter fs-3 mb-1 ms-4" href="#">Fatec</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav gap-2">
        <li class="nav-item">
          <a class="nav-link active txt-inter fs-5 fs-sm-2" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link txt-inter fs-5" href="#">Disciplinas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link txt-inter fs-5" href="#">Professores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link txt-inter fs-5" href="#">Turma</a>
        </li>
        <li class="nav-item">
          <a class="nav-link txt-inter fs-5" href="#">Cursos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link txt-inter fs-5" href="#">Salas</a>
        </li>
        <li class="nav-item">
          <div class="txt-inter ms-2 mt-2 fs-5 username me-1">
            Antônio Tadeu
          </div>

        </li>
        <li class="nav-item mt-1">
          <button class="btn btn-fatec">Sair</button>
        </li>
      </ul>
    </div>
  </nav>
</div>
