.btn-fatec{
    background-color: #B02A37;
    color: white;
    font-family: 'Inter', sans-serif;
}

.txt-fatec{
    color: #B02A37;
    font-family: 'Inter', sans-serif;
}

.txt-inter{
    font-family: 'Inter', sans-serif;
}

.optionIcons{
    cursor: pointer;
    font-size: 22px !important;
}

.optionIcons:hover{
    opacity: 80%;
}