<app-header-student></app-header-student>

<div class="container">
    <div *ngIf="teamById" class="display-6 text-center mt-5">
        {{courseById | titlecase}} - {{teamById.period | titlecase}} - {{teamById.semester}}º semestre
    </div>
    <button class="btn btn-fatec" [routerLink]="['/aluno']">Voltar</button>

    <div class="row pt-3">
        <div class="col-md-3 mt-5 d-flex">
            <input class="form-control search" type="text" name="search" placeholder="Pesquisar... " [(ngModel)]="filter">
        </div>
    </div>


    <table *ngIf="schedules.length !== 0; else empty" f class="table mt-5">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Dia</th>
                <th scope="col">Horário</th>
                <th scope="col">Sala</th>
                <th scope="col">Professor</th>
                <th scope="col">Disciplina</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let schedule of filteredSchedules | filter : filter">
                <th scope="row">{{schedule.id}}</th>
                <td>{{schedule.weekday | titlecase }}</td>
                <td>{{ getTimeString(schedule.id) }}</td>
                <td *ngIf="getClassroomInfo(schedule.id) as classroomInfo">{{ classroomInfo.type | titlecase}}-{{ classroomInfo.number }}</td>
                <td>{{ getProfessorName(schedule.id) | titlecase }}</td>
                <td>{{ getDisciplineName(schedule.id) | titlecase }}</td>
            </tr>
        </tbody>
    </table>
    <ng-template #empty>
        <p class="txt-inter fs-3 text-center mt-5">Nenhum agendamento cadastrado para essa turma.</p>
    </ng-template>
</div>